<div class="row">
    <div class="">
        <div class="card">
            <img src="software.jpg" alt="Software video edition" class="card-log-top">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quas placeat doloremque, reprehenderit odit odio hic eligendi molestiae accusantium! Culpa accusantium maiores laboriosam hic molestiae dicta esse sequi assumenda vitae.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-black">
                    Buy <i class="fa "> </i>
                </button>
            </div>
        </div>  
    </div>
</div>