<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Software Store</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/9eec0ca986.js" crossorigin="anonymous"></script>
    <!--custom css-->
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                Software Store
            </a>
        </div>
    </nav>
    <div class="container">
        <h1> Product </h1>
    </div>
    {{{ body }}}

</body>
</html>